{% extends 'quest/base.html' %}

{% block content %}

    <div class="form">
    <br/>
    <h4><b>{{ username }}</b> 기록 추가하기</h4>
    <form method="POST" class="builder-form">{% csrf_token %}
        {{ form.as_p }}    
       <!-- <button type="submit" class="save btn btn-default">저장하기</button> -->
       <button type="submit" class="btn btn-outline-primary">저장하기</button>
    </form>
    </div>

    <div class="blank">
        <br/>
        <H5>저장된 <b>{{ username }}</b> 기록 (현재 경험치: {{ total_xp | default:"0" }}xp | 미확인 경험치: + {{ unchecked_xp | default:"0" }}xp | {{ unchecked_spent_xp | default:"-0"}}xp)</H5>
    </div>


    <div class="btn-group btn-sm btn-block" role="group" aria-label="Basic example">
        {% for tab in record_tabs %}
            {% if selected_tab == tab.id %}
                <button 
                type="button" 
                class="btn btn-secondary active" 
                id='{{ tab.id }}' 
                onclick=location.href="{% url 'record' username tab.id %}">

            {% else %}
                <button 
                type="button" 
                class="btn btn-secondary" 
                id='{{ tab.id }}' 
                onclick=location.href="{% url 'record' username tab.id %}">
            {% endif %}
 
            {{ tab.name }}
        </button>
        {% endfor %}  
    </div>


    <div class="table">
        <div class='header_row'>
          {% for field_name in field_names %}
          <span class='header_cell'>
              {{ field_name }}
          </span>
          {% endfor %}   
        </div>
          {% for data in data_list %}  
        <div class="row">     
            {% if selected_tab == 'today' %}              
                <span class='cell' name='desc'>{{ data.action.get_category_display }}</span>
                <span class='cell' name='desc'>
                    <p>{{ data.action.name }}</p>
                    <p>{{ data.memo }}</p>
                </span>
                <span class='cell' name='desc'>{{ data.repeat }}</span>
                <span class='cell' name='desc'>{{ data.xp }}</span>   
                <span class='cell' name='desc'>{{ data.date | date:"yy/m/d" }}</span>
                <span class='cell' name='desc'>{{ data.time | time:"H:i" }}</span>
                <span class='cell' name='desc'>{% if data.checked %} 확인 {% else %} 미확인 {% endif %}</span>
                
            {% else %}
                <span class='cell' name='desc'>{{ data.category }}</span>
                <span class='cell' name='desc'>{{ data.name }}</span>
                <span class='cell' name='desc'>{{ data.total_repeat }}</span>
                <span class='cell' name='desc'>{{ data.total_xp }}</span>
            {% endif %}
                 <!--<span class='edit_cell'><button name='edit_btn' class='edit_btn'>수정</button></span>-->        
        </div>
          {% endfor %}
    </div>

    <br/>

          <br/>
          <br/>
    {% if selected_tab != 'today' %}           
 
 
        <!-- 차트 링크 --> 
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> 
        
        <div class="container-sm" > 
            <canvas id="myChart" ></canvas> 
        </div>
        
        <!-- 부트스트랩 --> 
         <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> 
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 
          
    {% endif %}


    <script type="text/javascript">

        var i = 0
        function calculate_xp() {
            var selectbox = document.forms[0].action
            var strArr = selectbox.options[selectbox.selectedIndex].text.split('|');
            var xp = strArr[strArr.length - 1].trim();
            //xp = xp.substr(0, xp.length - 2);
            document.forms[0].xp.value = (document.forms[0].repeat.value * Number(xp))// + "xp"
        }
        document.forms[0].action.addEventListener('change', calculate_xp);
        document.forms[0].repeat.addEventListener('change', calculate_xp);
        document.forms[0].repeat.addEventListener('keyup', calculate_xp);


        var mode = 'new'
        function edit(event) {
            for (var i = 0; i < buttons.length ; i++) {
                if (this == buttons.item(i)) { // this == event.target
                    cells = document.querySelectorAll(".row").item(i).querySelectorAll('.cell')                    
                    document.forms[0].name.value = cells.item(0).innerHTML;
                    document.forms[0].desc.value = cells.item(1).innerHTML;
                    document.forms[0].img.value = cells.item(2).innerHTML;
                    //document.forms[0].method=''
                    return;
                }
                i++;
            }
        }
        var buttons = document.querySelectorAll('.edit_btn');
        for (var i = 0 ; i < buttons.length; i++) {//(var button in buttons) {
            buttons.item(i).addEventListener("click", edit, false)
           // console.log("button event added " + i)
        }


        "{% if selected_tab != 'today' %}"
        // 그래프 그리기


        function createDataset() 
        {
            const red = 'rgba(255, 99, 132, 0.2)'; // 소비
            const blue = 'rgba(54, 162, 235, 0.2)'; // 수입
            const red_b = 'rgba(255, 99, 132, 1)';
            const blue_b = 'rgba(54, 162, 235, 1)';
            var dates = [];
            var earned_xps = [];
            var spent_xps = [];
            var earned_bg_colors = [];
            var earned_border_colors = [];
            var spent_bg_colors = [];
            var spent_border_colors = [];

            var days = 364;
            "{% if selected_tab == 'week' %}"
                days = 7;
            "{% elif selected_tab == 'month' %}"
                days = 29;
            "{% endif %}"

            let now = new Date();
            console.log(now.getMonth());
            console.log("now = " + now.getTime())
            for (var i = 0; i < days; i++) {
                var t = now.getTime() - ((i + 1) * 24 * 60 * 60 * 1000);
                var d = new Date(t);
                dates.unshift(d.getFullYear() + "/" + (d.getMonth() + 1) + "/" + d.getDate());
            }

            var earned = {}
            "{% for e in earned_xp %}"
                var earned_date = '{{ e.date|date:"yy/m/d" }}';
                var xp = '{{ e.daily_earned_xp }}';
                earned[earned_date] = xp;
            "{% endfor %}"        
            var earned_date_keys = Object.keys(earned);

            var j = 0;
            for (var i = 0; i < days && j <= earned_date_keys.length ; i++) {
                if (earned_date_keys[j] == dates[i]) {
                    earned_xps.push(earned[earned_date_keys[j]]);
                    j += 1;
                }
                else {
                    earned_xps.push(0);
                }
                earned_bg_colors.push(blue);
                earned_border_colors.push(blue_b);
            }

            var spent = {}
            "{% for s in spent_xp %}"
                var spent_date = '{{ s.date|date:"yy/m/d" }}';
                var xp = '{{ s.daily_spent_xp }}';
                spent[spent_date] = xp;
            "{% endfor %}"        
            var spent_date_keys = Object.keys(spent);

            j = 0
            for (var i = 0; i < days && j <= spent_date_keys.length ; i++) {
                if (spent_date_keys[j] == dates[i]) {
                    spent_xps.push(Math.abs(spent[spent_date_keys[j]]));
                    j += 1;
                }
                else {
                    spent_xps.push(0);
                }
                spent_bg_colors.push(red);
                spent_border_colors.push(red_b);
            }

            var dataset = {}
            dataset['labels'] = dates;
            dataset['datasets'] = [ 
                {
                    label: '# 경험치', 
                    data: earned_xps, 
                    backgroundColor: earned_bg_colors, 
                    borderColor: earned_bg_colors, 
                    borderWidth: 1 
                },
                {
                    label: '# 게임', 
                    data: spent_xps, 
                    backgroundColor: spent_bg_colors, 
                    borderColor: spent_border_colors, 
                    borderWidth: 1 
                }
            ] 
            return dataset;
        }

        var type = "{{ selected_tab }}" === "week" ? 'bar': 'line';
        var ctx = document.getElementById('myChart'); 
        var myChart = new Chart(
            ctx, 
            {
                type: type, 
                data: createDataset(),
                options: { 
                    scales: { 
                        yAxes: [{ ticks: { beginAtZero: true } }] 
                    } 
                } 
            }
        ); 
        "{% endif %}"

    </script>

    <style>
            #tab {            
                height: 30px; 
                width: 850px;
                text-align: center;   
                margin: 0;
                padding: 0;  
            }

            #tab li {                       
                display:inline;
                list-style: none;           
                color: #6666a1;              
                background-color: #f3f4fd;  
                float: left;                
                line-height: 30px;          
                vertical-align: middle;  
            }
            #tab .menuLink {
                display:inline-block;                          
                text-decoration:none;
                color: #3a3a66;                            
                display: block;                           
                width: 212px;                            
                font-size: 12px;                         
                font-weight: bold;
                font-family: "Trebuchet MS", Dotum, Arial; 
            }
            #tab .menuLink:hover {         
                color: white;                
                background-color: #4758ca;
            }
            #tab .menuLink:active {
                color: rgb(189, 50, 50);                
                background-color: #060c31;
            }
            .tab_btn:target {
                background: #45a1a1;
            }
            .tab_btn:target .table {
                display: block;
            }

            .table {display: table; width: 850px;}
            .header_row {display: table-header-group;}
            .header_cell {
                display: table-cell; 
                padding: 3px; 
                border-bottom: 1px solid #DDD; 
                text-align: left; 
                font-weight: bold;
                width: 100/'{{ field_names|length }}'%; 
            }
            .header_edit_cell {
                display: table-cell; 
                padding: 3px; 
                border-bottom: 1px solid #DDD; 
                width: 6%; 
            }    
            .row {display: table-row-group;}          
            .merged {
                display: table-cell; 
                padding: 3px; 
                border-bottom: 1px solid #DDD; 
                overflow: scroll; 
                width: 20%;   
            }
            .cell {
                display: table-cell; 
                padding: 3px; 
                border-bottom: 1px solid #DDD; 
                overflow: scroll; 
                width: 100/'{{ field_names|length }}'%;   
            }
            .edit_cell {
                display: table-cell; 
                padding: 3px; 
                border-bottom: 1px solid #DDD; 
                width: 6%; 
            }

            input,textarea, select, option {
                width:850px;
            }
    </style>


{% endblock content %}

