{% extends 'quest/base.html' %}

{% block content %}
    <br/>
    <h2>경험치 표</h2>
    <br/>
    <div class="table">
        <div class='header_row'>
        {% for field_name in field_names %}
        <span class='header_cell'>
            {{ field_name }}
        </span>
        {% endfor %}   
        </div>
        {% for data in data_list %}  
        <div class="row">            
            <span class='cell' name='category'>{{ data.get_category_display }}</span>            
            <span class='cell' name='name'> {{ data.name}}</span>
            <span class='cell' name='xp'> {{ data.xp }}</span>                
        </div>
        {% endfor %}
    </div>

    <style>
                    #tab {            
                height: 30px; 
                width: 850px;
                text-align: center;   
                margin: 0;
                padding: 0;  
            }

            #tab li {                       
                display:inline;
                list-style: none;           
                color: #6666a1;              
                background-color: #f3f4fd;  
                float: left;                
                line-height: 30px;          
                vertical-align: middle;  
            }
            #tab .menuLink {
                display:inline-block;                          
                text-decoration:none;
                color: #3a3a66;                            
                display: block;                           
                width: 212px;                            
                font-size: 12px;                         
                font-weight: bold;
                font-family: "Trebuchet MS", Dotum, Arial; 
            }
            #tab .menuLink:hover {         
                color: white;                
                background-color: #4758ca;
            }
            #tab .menuLink:active {
                color: rgb(189, 50, 50);                
                background-color: #060c31;
            }
            .tab_btn:target {
                background: #45a1a1;
            }
            .tab_btn:target .table {
                display: block;
            }

            .table {display: table; width: 850px;}
            .header_row {display: table-header-group;}
            .header_cell {
                display: table-cell; 
                padding: 3px; 
                border-bottom: 1px solid #DDD; 
                text-align: left; 
                font-weight: bold;
                width: 100/'{{ field_names|length }}'%; 
            }
            .header_edit_cell {
                display: table-cell; 
                padding: 3px; 
                border-bottom: 1px solid #DDD; 
                width: 6%; 
            }    
            .row {display: table-row-group;}          
            .merged {
                display: table-cell; 
                padding: 3px; 
                border-bottom: 1px solid #DDD; 
                overflow: scroll; 
                width: 20%;   
            }
            .cell {
                display: table-cell; 
                padding: 3px; 
                border-bottom: 1px solid #DDD; 
                overflow: scroll; 
                width: 100/'{{ field_names|length }}'%;   
            }
            .edit_cell {
                display: table-cell; 
                padding: 3px; 
                border-bottom: 1px solid #DDD; 
                width: 6%; 
            }

            input,textarea, select, option {
                width:850px;
            }
    </style>

{% endblock content %}        